$primary-font: 'Libre Baskerville', serif;
$secondary-font: 'Nixie One', cursive;
$source-sans: 'Source Sans Pro', sans-serif;
$footer-font: 'Great Vibes', cursive;
$default-font-size: 16px;
$heading-color: #132143;
$orrange-color: #ff7f00;
$yellow-color: #ddc11c;
$text-color: #bbbbbb;
$common-box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.15);
$gray-color: #eeeeee;
$blog-body-color: #999999;